.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.base {
  animation: baseAnimate 0.1s ease-out;
}

@keyframes baseAnimate {
  from { scale: 0.5 ; opacity: 0;}
  to { scale: 1; opacity: 1; }
}

.container {
  margin-top: 50px;
}

.searchDiv {
  margin-top: 50px;
}

input {
  width: 500px !important;
}

.choiceDiv {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.card {
  width: 200px;
  margin-left: 25px;
  margin-right: 25px;
  height: 8%;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.9);
  text-align: center;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0.3; }
  to {opacity: 1; }
}

.card-image img{
  width: 200px;
  height: auto;
}

.card-text {
  text-align: center;
  font-size: calc(1px + 2vmin);
}

.card:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.2s;
}